In [3]:
import numpy as np
import pandas as pd

df=pd.read_csv('Classification_Race_Hour1.csv')
df

   POSITION;NUMBER;TEAM;DRIVER_1;DRIVER_2;DRIVER_3;DRIVER_4;VEHICLE;TYRES;CLASS;GROUP;DIVISION;STATUS;LAPS;TOTAL_TIME;GAP_FIRST;GAP_PREVIOUS;FL_LAPNUM;FL_TIME;FL_KPH;DRIVER_5;
0   1;8;Toyota Gazoo Racing;Sébastien BUEMI;Brendo...
1   2;51;Ferrari AF Corse;Alessandro PIER GUIDI;Ja...
2   3;7;Toyota Gazoo Racing;Mike CONWAY;Kamui KOBA...
3   4;75;Porsche Penske Motorsport;Felipe NASR;Mat...
4   5;6;Porsche Penske Motorsport;Kévin ESTRE;Andr...
..                                                ...
57  58;98;Northwest AMR;Ian JAMES;Daniel MANCINELL...
58  59;16;Proton Competition;Ryan HARDWICK;Zachari...
59  60;708;Glickenhaus Racing;Romain DUMAS;Ryan BR...
60  61;32;Inter Europol Competition;Mark KVAMME;Ja...
61  62;311;Action Express Racing;Luis Felipe DERAN...

[62 rows x 1 columns]

In [4]:
df.shape

(62, 1)