In [129]:
import numpy as np
import pandas as pd

df=pd.read_csv('apple_quality.csv')
df

,A_id,Size,Weight,Sweetness,Crunchiness,Juiciness,Ripeness,Acidity,Quality
0,0.0,-3.970049,-2.512336,5.346330,-1.012009,1.844900,0.329840,-0.491590483,good
1,1.0,-1.195217,-2.839257,3.664059,1.588232,0.853286,0.867530,-0.722809367,good
2,2.0,-0.292024,-1.351282,-1.738429,-0.342616,2.838636,-0.038033,2.621636473,bad
3,3.0,-0.657196,-2.271627,1.324874,-0.097875,3.637970,-3.413761,0.790723217,good
4,4.0,1.364217,-1.296612,-0.384658,-0.553006,3.030874,-1.303849,0.501984036,good
...,...,...,...,...,...,...,...,...,...
3996,3996.0,-0.293118,1.949253,-0.204020,-0.640196,0.024523,-1.087900,1.854235285,good
3997,3997.0,-2.634515,-2.138247,-2.440461,0.657223,2.199709,4.763859,-1.334611391,bad
3998,3998.0,-4.008004,-1.779337,2.366397,-0.200329,2.161435,0.214488,-2.229719806,good
3999,3999.0,0.278540,-1.715505,0.121217,-1.154075,1.266677,-0.776571,1.599796456,good
4000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Created_by_Nidula_Elgiriyewithana,NaN

In [130]:
df.head()

,A_id,Size,Weight,Sweetness,Crunchiness,Juiciness,Ripeness,Acidity,Quality
0,0.0,-3.970049,-2.512336,5.346330,-1.012009,1.844900,0.329840,-0.491590483,good
1,1.0,-1.195217,-2.839257,3.664059,1.588232,0.853286,0.867530,-0.722809367,good
2,2.0,-0.292024,-1.351282,-1.738429,-0.342616,2.838636,-0.038033,2.621636473,bad
3,3.0,-0.657196,-2.271627,1.324874,-0.097875,3.637970,-3.413761,0.790723217,good
4,4.0,1.364217,-1.296612,-0.384658,-0.553006,3.030874,-1.303849,0.501984036,good

In [131]:
df.tail()

,A_id,Size,Weight,Sweetness,Crunchiness,Juiciness,Ripeness,Acidity,Quality
3996,3996.0,-0.293118,1.949253,-0.204020,-0.640196,0.024523,-1.087900,1.854235285,good
3997,3997.0,-2.634515,-2.138247,-2.440461,0.657223,2.199709,4.763859,-1.334611391,bad
3998,3998.0,-4.008004,-1.779337,2.366397,-0.200329,2.161435,0.214488,-2.229719806,good
3999,3999.0,0.278540,-1.715505,0.121217,-1.154075,1.266677,-0.776571,1.599796456,good
4000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Created_by_Nidula_Elgiriyewithana,NaN

In [132]:
df.isna().sum()

A_id           1
Size           1
Weight         1
Sweetness      1
Crunchiness    1
Juiciness      1
Ripeness       1
Acidity        0
Quality        1
dtype: int64

In [133]:
df.dtypes

A_id           float64
Size           float64
Weight         float64
Sweetness      float64
Crunchiness    float64
Juiciness      float64
Ripeness       float64
Acidity         object
Quality         object
dtype: object

In [134]:
row_drop = []
for index, row in df.iterrows():
    if row.isnull().any():  # Check if any column in the row is NaN
        row_drop.append(index)

df.drop(row_drop, inplace=True)
df.reset_index(drop=True, inplace=True)
df.isna().sum()

A_id           0
Size           0
Weight         0
Sweetness      0
Crunchiness    0
Juiciness      0
Ripeness       0
Acidity        0
Quality        0
dtype: int64

In [135]:
df.dtypes

A_id           float64
Size           float64
Weight         float64
Sweetness      float64
Crunchiness    float64
Juiciness      float64
Ripeness       float64
Acidity         object
Quality         object
dtype: object

In [136]:
df.drop(['A_id','Acidity'],axis=1,inplace=True)
df

          Size    Weight  Sweetness  Crunchiness  Juiciness  Ripeness Quality
0    -3.970049 -2.512336   5.346330    -1.012009   1.844900  0.329840    good
1    -1.195217 -2.839257   3.664059     1.588232   0.853286  0.867530    good
2    -0.292024 -1.351282  -1.738429    -0.342616   2.838636 -0.038033     bad
3    -0.657196 -2.271627   1.324874    -0.097875   3.637970 -3.413761    good
4     1.364217 -1.296612  -0.384658    -0.553006   3.030874 -1.303849    good
...        ...       ...        ...          ...        ...       ...     ...
3995  0.059386 -1.067408  -3.714549     0.473052   1.697986  2.244055     bad
3996 -0.293118  1.949253  -0.204020    -0.640196   0.024523 -1.087900    good
3997 -2.634515 -2.138247  -2.440461     0.657223   2.199709  4.763859     bad
3998 -4.008004 -1.779337   2.366397    -0.200329   2.161435  0.214488    good
3999  0.278540 -1.715505   0.121217    -1.154075   1.266677 -0.776571    good

[4000 rows x 7 columns]

In [137]:
df.dtypes

Size           float64
Weight         float64
Sweetness      float64
Crunchiness    float64
Juiciness      float64
Ripeness       float64
Quality         object
dtype: object

In [138]:
x=df.iloc[:,:-1].values
y=df.iloc[:,-1].values

In [139]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=.3,random_state=42)
x_train
# x_test
# y_train
# y_test

array([[ 1.57584968, -3.00539762, -1.12653413, -0.19517972,  3.09480308,
        -0.37743795],
       [ 2.68228113,  0.89764885, -1.023634  ,  2.24406948, -0.30177688,
        -2.57600001],
       [-1.10493396, -0.04334544,  0.85684017, -0.07990486,  2.59354048,
        -0.58616489],
       ...,
       [ 2.46407945, -1.67294602, -0.27020413, -0.06031211, -1.36710675,
         4.49170382],
       [-1.68070386, -1.17472082,  1.60946518,  0.97254609,  0.35821411,
         0.49532549],
       [-1.72068572,  1.30904996,  0.27733803,  1.61222986,  1.67473719,
        -1.29476922]], shape=(2800, 6))

In [140]:
# from sklearn.preprocessing import StandardScaler
# scaler=StandardScaler()
# scaler.fit(x_train)
# x_train=scaler.transform(x_train)
# x_test=scaler.transform(x_test)

In [141]:
from sklearn.svm import SVC
model=SVC()
model.fit(x_train,y_train)
y_pred=model.predict(x_test)
y_pred

array(['good', 'good', 'bad', ..., 'good', 'bad', 'good'],
      shape=(1200,), dtype=object)

In [142]:
from sklearn.metrics import confusion_matrix
cm=confusion_matrix(y_test,y_pred)
cm

array([[509,  84],
       [ 66, 541]])

In [143]:
from sklearn.metrics import accuracy_score
score=accuracy_score(y_test,y_pred)
score

0.875

In [144]:
from sklearn.metrics import classification_report
cr=classification_report(y_test,y_pred)
print(cr)

              precision    recall  f1-score   support

         bad       0.89      0.86      0.87       593
        good       0.87      0.89      0.88       607

    accuracy                           0.88      1200
   macro avg       0.88      0.87      0.87      1200
weighted avg       0.88      0.88      0.87      1200